.comics_bg{
    background-image: url(../img/jumbotron.jpg);
    min-height: 400px;
    background-size: cover;
    }
    
    img{
        max-width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }
    .my_img{
        width: 100%;
       
    }
   .my_section{
    background-color: black;
    color: white;
   }
   .center_button{
    display: flex;
    justify-content: center;

   }
   .load_more{
    background-color: hsl(208.67deg 100% 48.82%);
    border: none;
    color: white;
    width: 150px;
    align-self: center !important ;
    
   }